

.container{
    height: 80%;
    width: auto;
    border: 2px solid #533d4a;
    padding: 1rem;
    margin: 1rem;
    background-color: #EBE9D1;
}

.postContainer{
    width: 70%;
    height: 100%;
    border: 2px solid #533d4a;
    float:left;
    margin-right: 0.5rem;
}
.btn_posting{
    border-radius: 5px;
    width: 15%;
    text-align: center;
    height: 1.9rem;
    display: inline-block;
    vertical-align: middle;
    background-color: #f1c83c;
    color: white;
    font-size: 13px;
    border: 2px solid #533d4a;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 1rem 1rem;
}
.btn_posting:hover {
    background-color: white;
    color: #533d4a;
}
.chatContainer{
    width: 28%;
    height: 100%;
    border: 2px solid #533d4a;
    float:left;
    position: relative;
}
.chatView{
    border: 2px solid #533d4a;
    height: 93%;
    margin: 1px;
    padding: 0.5rem;
}
.chatForm{
    width: 100%;
    position: absolute;
    clear: left;
    left: 1px;
    bottom: 0px;
}
#chatTextBox{
    width: 70%;
}
#chatSubmit{
    width: 26%;
}
.chatMessage_Container{
    background-color: white;
    line-height: 20px;
    margin: 0.2rem;
    text-align: left;
    padding-left: 1rem;
}

.chatMessage_divImage{
    height: 20px;
    width: 20px;
    display: inline-block;
    overflow: hidden;
}
.chatMessage_Image{
    height: 20px;
    width: 20px;
    display: block;
    vertical-align: middle;
    margin-right: 1rem;
}
.chatMessage_uid{
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
.chatMessage_message{
    display: inline-block;
    vertical-align: middle;
}


.postItem{
    vertical-align: middle;
    margin: 1rem 1.5rem;
    display: inline-block;
    /*height: 350px;*/
    width: 230px; height:310px !important;
    border-radius: 0.8rem !important;
    border: 1px black solid;
    background-color: whitesmoke;
    overflow: hidden;
    transition: all 0.05s ease-in 0s;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.3);
    box-sizing: border-box;
}
.postItem:hover{
    border: 5px silver solid !important;
    box-sizing: border-box;
}
.postItem_image{
    width: 230px;
    height: 200px;
    line-height: 200px;
    overflow: hidden;
    text-align: center;
    vertical-align: center;
    border-bottom: 1px solid lightgrey;
    background-size:100%;
    background-color: white;
}
.postItem_image > img{
    max-width:100%; max-height:100%;
    vertical-align:middle;
}
.postItem_textTitle{
    font-size: 1.3rem;
    margin: 0.5rem;
}
.postLine{
    font-size: 1.2rem;
}